
.main{
	display:flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 100%;
}

.input-container{
	display: flex;
	flex-direction: column;
	padding:20px;
}

.options-container{
	display: flex;
	padding: 10px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.item{
	padding: 20px;
	margin: 10px;
	border-radius: 13px;
	border: 1px solid gray;
}

label{
	font-size: 20px;
	font-weight: bolder;
	padding:20px;
}
.location-input{
	padding: 15px;
	width:400px;
	border-radius: 30px;
	border: 1px solid grey;
	margin:50px 0px;
}
button{
	padding: 10px;
	border-radius: 30px;
	background: #2C3E50;

	color:white;
	border:0;
	max-width: 80px;
	margin: 10px;
}
.btnc-container{
	display: flex;
	justify-content: space-between;
}